* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --almostclear: #C7D1DB; /*rgb(199, 209, 219)*/
    --lightdark: #848484; /*rgb(132, 132, 132)*/
    --meddark: #B0C0DA; /*rgb(176, 192, 218)*/
    --beauty: #E96A67; /*rgb(233, 106, 103)*/
    --fire: #C72B3B; /*rbg(199, 43, 59)*/
    --dark: #1E1108; /*rgb(30, 17, 8)*/
    --background: #e6d9cc; /* rgb(188, 180, 172)*/
}
body {
    background-color: var(--background);
    font-family: 'Archivo', sans-serif;
}
/* header and navigation bar begins ==========================================*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 200px;
}
.nav__title {
    font-weight: 700;
    text-transform: uppercase;
}
.nav__list {
    list-style: none;
}
/* sticky navigation css */
.nav.sticky {
    position: fixed;
    top: 0;
    left: 900px;
}
li {
    text-transform: lowercase;
    display: inline-block;
    padding: 0px 20px;
}
li a {
    transition: all 0.3s ease 0s;
    list-style: none;
}
/* add a hover affect to the page */
a {
    text-decoration: none;
}
/* header and navigation bar ends ==========================================*/
/* subtittle sentence ends*/
h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 150px;
}
/* subtitle sentence ends */

/* about me section starts ============================================== */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width:50%;
}
.aboutme_container {
    display: flex;
    margin-bottom: 200px;
}
/* my memoji and background profile photo starts */
.sub_title {
    font-size: 20px;
    padding-left: 238px;
}
.profile {
    position: relative;
    top: 20px;
}
.my_memoji {
    position: absolute;
    width: 362px;
    z-index: 10000;
    left: 90px;
}
.profilebkg {
    position: relative;
    width: 500px;
    left: 30px;
}
 /* my memoji and background profile photo ends */
/* icon image of the responsive webdesign */
/* overall text area */
.about_text {
    position: relative;
    top: 30px;
    text-align: justify;
}
/* skilla and tools section */
.skills_container {
    margin-bottom: 150px;
}
/* .sectionheader {
    width: 100%;
    text-align: center;
} */
/* icon start */
.response_web {
    width: 60px;
}









/* Tablets */
@media screen and (max-width: 992px) {
    body {
      background: #772014;
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    body{
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
    }
    header {
        color: blue;

    }
  }